In [189]:
# Import required libraries

import requests
import tweepy
import pandas as pd
import json
import datetime

## Gather

In [3]:
# Download the tweet image predictions tsv file via requests library

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open(url.split('/')[-1], mode = 'wb') as file:
    file.write(response.content)

In [134]:
# Read `image predictions tsv file`

predict_dog = pd.read_csv('image-predictions.tsv', sep = '\t')

In [135]:
# Read `twitter archive enhanced.csv` file to get tweet ids for API

twitter_df = pd.read_csv('twitter-archive-enhanced.csv')
# extract tweet ids only for use in API

tweet_id = twitter_df['tweet_id']

In [4]:
# Authenticate Tweepy PI

consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True,
                 parser=tweepy.parsers.JSONParser())

In [5]:
# Get tweet JSON data using tweet ID via Tweepy 

tweet_json = []
error_list = []
for i in tweet_id:
    try:
        tweet = api.get_status(i, tweet_mode = 'extended')
        tweet_json.append(tweet)
    except:
        error_list.append(i)
        continue

Rate limit reached. Sleeping for: 348
Rate limit reached. Sleeping for: 242

In [7]:
# Write JSON data to tweet_json.txt file with each tweet's JSON data on its own line

with open('tweet_json.txt', 'w') as outfile:
    json.dump(tweet_json, outfile, indent = True)

In [136]:
# Read tweet_json.txt file into a pandas data frame 

pd_json = pd.read_json('tweet_json.txt', orient = 'columns')

In [137]:
# Extract only needed columns (tweet_id, favorite_count, retweet_count)
# Save it to tweet_json

tweet_json = pd_json[['id','favorite_count','retweet_count']]

# Assess

### Quality
##### `twitter_df` table
- some tweets was deleted or invalid (2356 instead of 2345)
- missing data in `in_reply_to_status_id` column
- missing data in `in_reply_to_user_id` column
- missing data in `retweeted_status_id` column
- missing data in `retweeted_status_user_id` column
- missing data in `retweeted_status_timestamp` column
- `source` and `expanded_urls` columns are not relevant to our analysis
- `name` content is not always a name, sometimes it's an adjective or articles



##### `predict_dog` table
- missing records because some tweets are without images (2075 instead of 2356) or invalid or deleted
- not all images are for dogs! some images are for other animals

##### `tweet_json` table
- `id` column name is not consistent with other tables same column names

### Tidiness
##### `twitter_df` table
- `doggo`, `floofer`, `pupper` and `puppo` should be values for a `stage` column not seperate columns
- `time stamp` column should be two separate columns for `date` and `time`

##### `tweet_json` table
- the whole table should be merged with `twitter_archive` table

In [138]:
# Make a copy of the datasets to work with and clean

twitter_df_clean = twitter_df.copy()
predict_dog_clean = predict_dog.copy()
tweet_json_clean = tweet_json.copy()

# Clean
### Define
### Quality 
##### `twitter_df_clean` table
- remove all records with ids in `error_list`

### Code

In [139]:
# remove all records with ids in `error_list`

for record in error_list:
    twitter_df_clean.drop(twitter_df_clean[twitter_df_clean.tweet_id == record].index, inplace = True)

### Test

In [140]:
# check if any record with id from error_list still exists!

twitter_df_clean['tweet_id'].isin(error_list).value_counts()

False    2344
Name: tweet_id, dtype: int64

### Define
### Quality
##### `twitter_df_clean` table
- drop `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`,  
  `retweeted_status_user_id`, `retweeted_status_timestamp`, `source` and `expanded_urls` columns

### Code

In [141]:
# drop 'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id',
# 'retweeted_status_user_id' and 'retweeted_status_timestamp' columns from `twitter_archive_clean` table

twitter_df_clean.drop(columns = ['in_reply_to_status_id', 'in_reply_to_user_id',
                                 'retweeted_status_id', 'retweeted_status_user_id',
                                 'retweeted_status_timestamp', 
                                 'source', 'expanded_urls'], inplace = True)

### Test

In [248]:
# look at the data frame to see the columns is removed

twitter_df_clean.tail()

,tweet_id,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,date,time
2351,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,5,10,None,None,None,None,None,2015-11-16,00:24:50
2352,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,6,10,a,None,None,None,None,2015-11-16,00:04:52
2353,666033412701032449,Here is a very happy pup. Big fan of well-main...,9,10,a,None,None,None,None,2015-11-15,23:21:54
2354,666029285002620928,This is a western brown Mitsubishi terrier. Up...,7,10,a,None,None,None,None,2015-11-15,23:05:30
2355,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,8,10,None,None,None,None,None,2015-11-15,22:32:08

### Define
### Quality
##### `twitter_df_clean` table
-  remove non-dog contents to ensure they are dog only records

### Code

In [145]:
# make sure all records are for dogs by matching the `predict_dog_clean` non-dog ids with ones in `twitter_df_clean`

non_dogs = predict_dog_clean[(predict_dog_clean.p1_dog == False)
                                         | (predict_dog_clean.p2_dog == False)
                                         | (predict_dog_clean.p3_dog == False)].tweet_id

In [147]:
# remove all non-dog records in twitter_df_clean

for record in non_dogs:
    twitter_df_clean.drop(twitter_df_clean[twitter_df_clean.tweet_id == record].index, inplace = True)

### Test

In [158]:
# check if any record with id from non_dogs still exists!

twitter_df_clean['tweet_id'].isin(non_dogs).value_counts()

False    1515
Name: tweet_id, dtype: int64

### Define
### Quality 
##### `predict_dog_clean` table
- remove all non dog records by keeping only the records where `p1_dog`, `p2_dog`, `p3_dog` are all `True`

### Code

In [160]:
# remove all non-dog records by keeping only the records where `p1_dog`, `p2_dog`, `p3_dog` are all `True`

predict_dog_clean.drop(predict_dog_clean[(predict_dog_clean.p1_dog == False)
                                         | (predict_dog_clean.p2_dog == False)
                                         | (predict_dog_clean.p3_dog == False)].index, inplace = True)

### Test

In [161]:
# Check if any non-dog record exists!

predict_dog_clean['tweet_id'].isin(non_dogs).value_counts()

False    1243
Name: tweet_id, dtype: int64

### Define
### Quality 
##### `tweet_json_clean` table
- rename `id` column to `tweet_id` for consistency with other tables

### Code

In [249]:
# rename `id` column to `tweet_id` for consistency with other tables

tweet_json_clean = tweet_json_clean.rename(columns = {'id' : 'tweet_id'})

### Test

In [250]:
# check the column name is changed 

tweet_json_clean.head()

             tweet_id  favorite_count  retweet_count
0  892420643555336193           38680           8555
1  892177421306343426           33136           6288
2  891815181378084864           24947           4170
3  891689557279858688           42054           8684
4  891327558926688256           40215           9445

### Define
### Tidiness
##### `twitter_df_clean` table
- melt `doggo`, `floofer`, `pupper` and `puppo` as values for a `stage` column

### Code

In [275]:
# melt `doggo`, `floofer`, `pupper` and `puppo` as values for a `stage` column

### Test

In [277]:
twitter_df_clean.head()

,tweet_id,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,date,time,favorite_count,retweet_count
0,892177421306343426,This is Tilly. She's just checking pup on you....,13,10,Tilly,None,None,None,None,2017-08-01,00:17:27,33136,6288
1,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None,2017-07-31,00:18:03,24947,4170
2,891327558926688256,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None,2017-07-29,16:00:24,40215,9445
3,890729181411237888,When you watch your owner call another dog a g...,13,10,None,None,None,None,None,2017-07-28,00:22:40,65317,18968
4,890609185150312448,This is Zoey. She doesn't want to be one of th...,13,10,Zoey,None,None,None,None,2017-07-27,16:25:51,27709,4278

### Define
### Tidiness
##### `twitter_df_clean` table
- split `time stamp` column to two separate columns `date` and `time`

### Code

In [216]:
# First, convert the `timestamp` column type to datetime

twitter_df_clean['timestamp'] = pd.to_datetime(twitter_df_clean['timestamp'])

In [241]:
# second, split `time stamp` column to two separate columns `date` and `time`

twitter_df_clean['date'] = [d.date() for d in twitter_df_clean['timestamp']]
twitter_df_clean['time'] = [d.time() for d in twitter_df_clean['timestamp']]

In [244]:
# finally, drop the `timestamp` column as it is no longer needed

twitter_df_clean.drop(columns = ['timestamp'], inplace = True)

### Test

In [245]:
# check type of `timestamp` column is datetime

twitter_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1515 entries, 1 to 2355
Data columns (total 11 columns):
tweet_id              1515 non-null int64
text                  1515 non-null object
rating_numerator      1515 non-null int64
rating_denominator    1515 non-null int64
name                  1515 non-null object
doggo                 1515 non-null object
floofer               1515 non-null object
pupper                1515 non-null object
puppo                 1515 non-null object
date                  1515 non-null object
time                  1515 non-null object
dtypes: int64(3), object(8)
memory usage: 182.0+ KB

In [246]:
# check the columns are created correctly

twitter_df_clean.head()

,tweet_id,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,date,time
1,892177421306343426,This is Tilly. She's just checking pup on you....,13,10,Tilly,None,None,None,None,2017-08-01,00:17:27
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None,2017-07-31,00:18:03
4,891327558926688256,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None,2017-07-29,16:00:24
7,890729181411237888,When you watch your owner call another dog a g...,13,10,None,None,None,None,None,2017-07-28,00:22:40
8,890609185150312448,This is Zoey. She doesn't want to be one of th...,13,10,Zoey,None,None,None,None,2017-07-27,16:25:51

In [247]:
# check `timestamp` column is dropped 

twitter_df_clean.head()

,tweet_id,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,date,time
1,892177421306343426,This is Tilly. She's just checking pup on you....,13,10,Tilly,None,None,None,None,2017-08-01,00:17:27
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,None,None,None,2017-07-31,00:18:03
4,891327558926688256,This is Franklin. He would like you to stop ca...,12,10,Franklin,None,None,None,None,2017-07-29,16:00:24
7,890729181411237888,When you watch your owner call another dog a g...,13,10,None,None,None,None,None,2017-07-28,00:22:40
8,890609185150312448,This is Zoey. She doesn't want to be one of th...,13,10,Zoey,None,None,None,None,2017-07-27,16:25:51

### Define
### Tidiness
##### `tweet_json_clean` table
- merge `tweet_json_clean` table with `twitter_df_clean` table

### Code

In [255]:
# merge `tweet_json_clean` table with `twitter_df_clean` table 

twitter_df_clean = pd.merge(twitter_df_clean, tweet_json_clean, on = 'tweet_id')

### Test

In [257]:
# check the merge is done correctly

twitter_df_clean.tail()

,tweet_id,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,date,time,favorite_count,retweet_count
1510,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,5,10,None,None,None,None,None,2015-11-16,00:24:50,109,41
1511,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,6,10,a,None,None,None,None,2015-11-16,00:04:52,299,141
1512,666033412701032449,Here is a very happy pup. Big fan of well-main...,9,10,a,None,None,None,None,2015-11-15,23:21:54,125,44
1513,666029285002620928,This is a western brown Mitsubishi terrier. Up...,7,10,a,None,None,None,None,2015-11-15,23:05:30,129,47
1514,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,8,10,None,None,None,None,None,2015-11-15,22:32:08,2566,516