In [15]:
# Import required libraries

import requests
import tweepy
import pandas as pd
import json
import os
import sys

## Gathering data

In [2]:
# Download the tweet image predictions tsv file via requests library

url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
with open(url.split('/')[-1]), mode = 'wb') as file:
    file.write(response.content)

In [3]:
# Read `twitter archive enhanced.csv` file to get tweet ids for API

twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')
# extract tweet ids only

tweet_id = twitter_archive['tweet_id']

In [4]:
# Authenticate Tweepy PI

consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True,
                 parser=tweepy.parsers.JSONParser())

In [13]:
# Get tweet JSON data via tweet ID using Tweepy 

tweet_json = []
error_list = []
for i in tweet_id:
    try:
        tweet = api.get_status(i, tweet_mode = 'extended')
        tweet_json.append(tweet)
    except:
        error_list.append(i)
        continue

(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be3bb30c8>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be3a6d848>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be39f7ac8>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be398fc48>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be3920488>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be37bbe88>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be3784548>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be364fe08>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be34cfb08>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be310ac08>)
(<class 'tweepy.error.TweepError'>, TweepError([{'code': 144, 'message': 'No status found with that ID.'}],), <traceback object at 0x7f6be2d700c8>)

Rate limit reached. Sleeping for: 135
Rate limit reached. Sleeping for: 310

In [33]:
# Check code is working

len(tweet_json), len(error_list)

(2345, 11)

In [16]:
# Write JSON data to tweet_json.txt file with each tweet's JSON data on its own line

with open('tweet_json.txt', 'w') as outfile:
                json.dump(tweet_json, outfile, ensure_ascii= False, indent = True)

In [19]:
# Read tweet_json.txt file into a pandas data frame 

tweet_df = pd.read_json('tweet_json.txt', orient = 'columns')

In [28]:
# Look at dataframe information

tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2345 entries, 0 to 2344
Data columns (total 32 columns):
contributors                     0 non-null float64
coordinates                      0 non-null float64
created_at                       2345 non-null datetime64[ns]
display_text_range               2345 non-null object
entities                         2345 non-null object
extended_entities                2069 non-null object
favorite_count                   2345 non-null int64
favorited                        2345 non-null bool
full_text                        2345 non-null object
geo                              0 non-null float64
id                               2345 non-null int64
id_str                           2345 non-null int64
in_reply_to_screen_name          78 non-null object
in_reply_to_status_id            78 non-null float64
in_reply_to_status_id_str        78 non-null float64
in_reply_to_user_id              78 non-null float64
in_reply_to_user_id_str          78 non-null float64
is_quote_status                  2345 non-null bool
lang                             2345 non-null object
place                            1 non-null object
possibly_sensitive               2207 non-null float64
possibly_sensitive_appealable    2207 non-null float64
quoted_status                    24 non-null object
quoted_status_id                 25 non-null float64
quoted_status_id_str             25 non-null float64
quoted_status_permalink          25 non-null object
retweet_count                    2345 non-null int64
retweeted                        2345 non-null bool
retweeted_status                 170 non-null object
source                           2345 non-null object
truncated                        2345 non-null bool
user                             2345 non-null object
dtypes: bool(4), datetime64[ns](1), float64(11), int64(4), object(12)
memory usage: 620.4+ KB

In [42]:
# Extract only needed columns 
# Save it to tweet_df_trim 

tweet_df_trim = tweet_df[['id','favorite_count','retweet_count']]

In [43]:
tweet_df_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2345 entries, 0 to 2344
Data columns (total 3 columns):
id                2345 non-null int64
favorite_count    2345 non-null int64
retweet_count     2345 non-null int64
dtypes: int64(3)
memory usage: 153.3 KB

In [44]:
tweet_df_trim.head()

                   id  favorite_count  retweet_count
0  892420643555336193           38699           8561
1  892177421306343426           33173           6296
2  891815181378084864           24968           4177
3  891689557279858688           42087           8692
4  891327558926688256           40235           9454